body {
  text-align:center;
  color:white;
  background-color: black;
  font-family: monospace;
}

img:hover {
  transform: scale(2);
}

img {
  transition: all 100ms;
}

.column img {
  width:20%;
  height:7%;
}
.column {
  width: 30%;
}
.columnSet {
  display:flex;
  justify-content: space-evenly;
}

.red {
  color:red;
  font-weight:bold;
}
.orange {
  color:rgb(255, 136, 0);
  font-weight:bold;
}
.yellow {
  color:rgb(255, 217, 0);
  font-weight:bold;
}

.blue {
  color:blue;
  font-weight:bold;
}

.green {
  color:rgb(120, 201, 0);
  font-weight:bold;
}